/* Style the navigation bar */
header {
    width: 100%;
    padding: 1%;
    background-color: #d35649;
    overflow: auto;
  }
  
  /* header links */
  header a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  header div {
      float: left;
  }
  header nav {
      float: right;
  }
  header ul > li {
      display: inline; 
  }
  /* header links on mouse-over */
  header  a:hover {
    background-color: #98a5a5;
  }
  
  /* Current/active navbar link 
  .active {
    background-color: #98a5a5;
  }
  */
  .navbar-right {
    display: inline;
  }

footer{
    width: 100%;
    padding: 2%;
    background-color: #1f1f1f;
    overflow: auto;
  }
  footer h1{
      color: white;
      font-size: 18;
      text-align: center;
  }
  footer  p{
    color: white;
    font-size: 14;
    text-align: center;
  }
  /* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 30%;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #444;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: #444;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: #1f1f1f;
  }
/* Style the footer */
 footer row {
    display: inline-flex;
}
footer col {
    margin: 0 8em;
}
footer a{
    padding-left: 30%;
    text-align: center;
    color: #d35649;
    text-decoration: none;
    float: left;
    font-size: 14;
}
footer a:hover{
    color: #d35649;
    text-decoration: underline;
}
.foot{
  display: flex;
  margin: 0;
  padding: 1%;
  background-color: #ddd;
}
footer ul > li {
  display: inline; 
}
.foot p{
  
  color: #1f1f1f;
  font-size: 10;
}
.foot a:hover{
  color: #509bd7;
}
div .paragraph{
  float: right;
}

/*main*/
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  color: #1f1f1f;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .content {
  position: absolute; /* Position the background text */
  top: 30%; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(185, 182, 182); /* Fallback color */
  background: rgba(170, 165, 165, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
main h1{
  color: #d35649;
  font-size: 20;
  text-align: center;
}
.column{
  display: flex;
}
.column > .row {
  display: flex;
}
.column h2{
  font-size: 16px;
  text-align: center;
}
/*texte avec image*/
section .primary-color{
  background-color: #d35649;
}
section .primary-gray{
  background-color: #98a5a5;
}
section .primary-blue{
  background-color: #509bd7;;
}
section .col{
  display: flex
}
section h3{
  color: #ddd;;
  font-size: 14;
}
section button{
    padding: 10px 20px;
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #444;
    
}
section img{
  float: right;
}
section .row{
  display: flex;
}

/*page about*/
.block-white {
  margin: auto;
  width: 80%;
  padding: 20%;
  margin: 2% 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.block-white  .column {
  float: left;
  width: 50%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.block-white .row {margin: 20px -5px;}

/* Clear floats after the columns */
.block-white  .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.block-white  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels*/
  @media screen and (max-width: 500px) {
    header a {
      float: none;
      display: block;
    }
  }
  @media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}